<div class="row">
<h3>Top Slack Users</h3>


  <%= will_paginate @stats_all_time %>

<table class="table table-striped table-bordered">
  <tr>
    <th>User</th>
    <th>Message Count</th>
  </tr>
  <% @stats_all_time.each do |stat| %>
      <tr>
        <td><%= stat.name %></td>
        <td><%= stat.msg_count %></td>
      </tr>
  <% end %>
</table>

  <%= will_paginate @stats_all_time %>


</div>